* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*MAIN*/
main {
  margin: 20px auto;
  box-sizing: border-box; /*ændrer højde&bredde af et html-element beregning. Inkl. padding&border i et elements saml. str.*/
  padding-bottom: 100px;
}

/*BODY*/
body {
  background-color: #efede6;
  min-height: 110vh;
  font-family: "poppins", sans-serif;
  background: radial-gradient(circle at top left, #efede6, #d7b0b0, #6d3636); /*gradient lavet med w3schools og jeg har brugt chatgpt*/
  background-size: 200% 200%;
  background-position: top left;
}

/* DESKTOP */ /* DESKTOP */ /* DESKTOP */ /* DESKTOP */ /* DESKTOP */
/* DESKTOP */ /* DESKTOP */ /* DESKTOP */ /* DESKTOP */ /* DESKTOP */
/* DESKTOP */ /* DESKTOP */ /* DESKTOP */ /* DESKTOP */ /* DESKTOP */
/* DESKTOP */ /* DESKTOP */ /* DESKTOP */ /* DESKTOP */ /* DESKTOP */
/* DESKTOP */ /* DESKTOP */ /* DESKTOP */ /* DESKTOP */ /* DESKTOP */
/* DESKTOP */ /* DESKTOP */ /* DESKTOP */ /* DESKTOP */ /* DESKTOP */
/* DESKTOP */ /* DESKTOP */ /* DESKTOP */ /* DESKTOP */ /* DESKTOP */

/* BURGER-MENU*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #164aae;
  font-family: "poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 24px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Placerer menuen til højre */
  flex: 1; /* Fylder tilgængelig plads til højre */
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #164aae;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #f0a1a1;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  display: none;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #164aae;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

/*INDEX-SIDE DESKTOP*/
/*INDEX-SIDE DESKTOP*/
/*INDEX-SIDE DESKTOP*/
/*INDEX-SIDE DESKTOP*/
@media screen and (min-width: 601px) {
  /*DESKTOP STYLING AF MAIN FOR AT GIVE MARGIN*/
  .tema2-5styling {
    margin: 400px;
    margin-top: 80px;
  }
  /*KNAP TIL ALLE SITES 02-05*/
  .linktilside-button {
    margin-top: 70px;
    margin-bottom: 30px;
  }
  .link-button-container {
    text-align: center;
    margin: 50px;
  }
  .link-button {
    display: inline-block;
    padding: 20px 20px;
    background-color: #efede6;
    color: #164aae;
    border: 2px solid #164aae;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .link-button:hover {
    background-color: #d7b0b0;
    color: #164aae;
  }
  /*FORSIDE-BILLEDE*/
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .indexbillede {
    width: 60%;
    margin-top: 10px;
    padding: 20px;
  }
  /*PORTFOLIO-SIDE DESKTOP*/
  /*PORTFOLIO-SIDE DESKTOP*/
  /*PORTFOLIO-SIDE DESKTOP*/
  /*PORTFOLIO-SIDE DESKTOP*/
  .portfoliomenu ul {
    list-style: none;
    font-family: "poppins", sans-serif;
    font-size: 50px;
    line-height: 2;
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 50px;
    margin-top: 100px;
  }
  .portfoliomenu {
    justify-content: center;
    display: flex;
  }
  /*HOVER-EFFEKT*/
  .portfoliomenu ul a:hover {
    color: #f0a1a1;
  }
  a {
    color: #164aae;
    text-decoration: none;
  }
  a .underline {
    position: absolute;
    bottom: -3px; /*dette styre stregens længde*/
    left: 0;
    width: 100%;
    height: 1px;
  }

  /*OM MIG-SIDE DESKTOP*/
  /*OM MIG-SIDE DESKTOP*/
  /*OM MIG-SIDE DESKTOP*/
  /*OM MIG-SIDE DESKTOP*/
  .overskrift h1 {
    text-align: start;
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 50px;
    color: #164aae;
    margin: 0;
    margin-bottom: 50px;
  }
  .hejmedstort {
    margin-top: 10px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
    width: 100%;
    line-height: 1;
    padding-left: 10px;
  }
  .ommigtekst p {
    margin-top: 10px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
    width: 100%;
    line-height: 2;
    padding-left: 10px;
  }
  .billede-container {
    width: 50%; /* UNDERSØG DENNE KOMMENTAR!!!så billedet fylder halvdelen af skærmen*/
    display: flex;
    padding: 0; /* Jeg har lavet en container i div'en for ikke at ændre str. af det indre rum (så det ikke ser mindre ud)*/
    justify-content: flex-start; /*indholdet starter fra venstre side af containeren*/
    align-items: flex-start; /*så indholdet starter fra toppen af containeren*/
    padding-right: 10px;
  }
  /*PORTRÆT BILLEDE DESKTOP*/
  .portræt {
    max-width: 400px;
    height: auto; /*Bevarer billedets prorpotioner*/
  }
  .grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /*to kolonner med lige bredde*/
    gap: 20px; /*ml.rum ml. gittercellerne*/
    margin: 20px auto; /*sætter margin under og over conatineren*/
    max-width: 1200px;
  }

  /* Venstre og højre-section bruger flex til at organisere indholdet i containeren*/
  .venstre-section {
    flex: 1; /* de strækker sig lige meget ift den tilgængelige plads*/
    padding-right: 20px;
  }
  .højre-section {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  /*Firkantede boks bag ved CV DESKTOP*/
  .firkant {
    background-color: #d7b0b0;
    color: #164aae;
    padding: 20px;
    text-align: start;
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  /*CV overskrift DESKTOP*/
  .overskriftcv-skills {
    text-align: start;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
    margin-bottom: 20px;
    font-size: 40px;
  }
  /*UNDEROVERSKRIFT DESKTOP*/
  .relevante h2 {
    margin-top: 10px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
    text-align: start;
    margin-bottom: 30px;
  }
  .arbejde-overskrift {
    margin-top: 10px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
    text-align: start;
  }
  .arbejde {
    margin-top: 10px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
    line-height: 1;
    text-align: start;
  }

  /*P-tekst og h2-tekst DESKTOP*/
  .cv {
    margin-top: 10px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
    line-height: 1;
    text-align: start;
  }

  /*02-GRUNDLÆGGENDE WEB DESKTOP*/
  /*02-GRUNDLÆGGENDE WEB DESKTOP*/
  /*02-GRUNDLÆGGENDE WEB DESKTOP*/
  /*02-GRUNDLÆGGENDE WEB DESKTOP*/

  /*Overskrift 02 web DESKTOP*/
  .weboverskrift h1 {
    text-align: center;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-size: 50px;
    font-style: normal;
    color: #164aae;
  }
  /*Temabeskrivelse af 02 web DESKTOP*/
  .temabeskrivelse {
    display: block;
    width: auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    text-align: start;
  }
  /*VISITKORT DESKTOP*/
  .visitkort-overskrift h2 {
    margin-top: 50px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
    text-align: center;
  }
  .visitkort {
    display: block;
    width: auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .visitkort img {
    max-width: 800px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /*STUDIESTARTSPRØVE DESKTOP*/
  .studiestartsprøve-overskrift h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .studiestartsprøve {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .studiestartsprøve img {
    max-width: 600px;
    height: auto;
  }

  /*LAYOUTDIAGRAM DESKTOP*/
  .layoutdiagram h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .layoutdiagram {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .layoutdiagram img {
    max-width: 600px;
    height: auto;
  }
  /*KODE DESKTOP*/
  .kode h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .kode p {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
  }
  .kode {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .kode img {
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*PROCESS-BESKRIVELSE 02 DESKTOP*/
  /*PROCESS OVERSKRIFT*/
  .process {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
    margin-bottom: 20px;
  }
  /*PROCESS TEKST DESKTOP*/
  .process-02 p {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    text-align: start;
  }
  /*TILBAGE TIL TOP KNAP*/ /*Genbrugt fra min index side opgave 05*/
  .tilbage {
    margin-top: 70px;
    margin-bottom: 30px;
  }
  .tilbage-button-container {
    text-align: center;
  }
  .tilbage-button {
    display: inline-block;
    padding: 20px 20px;
    background-color: #d7b0b0;
    color: #164aae;
    border: 2px solid #164aae;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .tilbage-button:hover {
    background-color: #efede6;
    color: #164aae;
  }
  /*SORT/HVID BILLEDE M. HOVER-EFFEKT*/ /*LAVET MED CHATGPT*/
  .sort-hvid-billede {
    width: 100%; /* Tilpas bredden efter dine behov */
    height: auto; /* Juster højden automatisk */
    display: block;
    filter: grayscale(100%); /* Gør billedet sort-hvidt som standard */
    transition: filter 0.3s ease; /* Tilføjer overgangseffekt */
  }

  .sort-hvid-billede:hover {
    filter: grayscale(0%); /* Fjerner sort-hvid filtrering ved hover */
  }
  /*03 UX/UI-DESIGN DESKTOP*/
  /*03 UX/UI-DESIGN DESKTOP*/
  /*03 UX/UI-DESIGN DESKTOP*/
  /*03 UX/UI-DESIGN DESKTOP*/
  .uxui-overskrift h1 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
    font-size: 50px;
  }
  /*Temabeskrivelse af 03 UX/UI*/
  .temabeskrivelse-ux-ui {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
  }
  /*pdf-knap*/
  .process-button {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .process-button-container {
    text-align: center;
  }
  .process-button {
    display: inline-block;
    padding: 20px 20px;
    background-color: #efede6;
    color: #164aae;
    border: 2px solid #164aae;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .process-button:hover {
    background-color: #d7b0b0;
    color: #164aae;
  }

  /* 03 WIREFRAMES DESKTOP*/

  /*WIREFRAMES OVERSKRIFT*/
  .wireframes-overskrift h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .wireframes {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wireframes img {
    max-width: 400px;
    height: auto;
    margin-bottom: 100px;
  }
  /*HI-FI-WIREFRAME 03 DESKTOP*/
  .hifi-overskrift h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .hifi {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hifi img {
    max-width: 600px;
    height: auto;
    margin-bottom: 100px;
  }

  /*KLIKBAR PROTOTYPE DESKTOP*/
  .klikbar-overskrift h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .klikbar-tekst {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
    text-align: start;
  }
  .klikbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .klikbar img {
    max-width: 300px;
    height: auto;
    margin-bottom: 100px;
  }

  /* 03 MOODBOARD DESKTOP*/

  /*MOODBOARD-OVERSKRIFT DESKTOP*/
  .moodboard-overskrift h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .moodboard-tekst {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
  }
  .moodboard {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .moodboard img {
    max-width: 400px;
    height: auto;
    margin-bottom: 100px;
  }

  /* 03 STYLETILE DESKTOP*/

  /*STYLETILE OVERSKRIFT DESKTOP*/
  .styletile-overskrift h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .style-tekst {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
  }
  .styletile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .styletile img {
    max-width: 400px;
    height: auto;
    margin-bottom: 100px;
  }

  /*TEST 03 DESKTOP*/
  .tests-overskrift h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .test-tekst {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
  }
  .test1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .test1 img {
    max-width: 400px;
    height: auto;
    margin-bottom: 100px;
  }
  .test2 img {
    max-width: 400px;
    height: auto;
    margin-bottom: 100px;
  }
}

/*03 LAYOUTDIAGRAM DESKTOP*/

/*LAYOUTDIAGRAM-OVERSKRIFT DESKTOP*/
.layoutdiagram-overskrift h2 {
  text-align: center;
  margin-top: 30px;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #164aae;
}
.layoutdiagram-tekst {
  display: block;
  width: auto;
  margin: 0 auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding: 20px;
  text-align: center;
}
.layoutdiagram img {
  max-width: 400px;
  height: auto;
  margin-bottom: 100px;
}

/*03 PRÆSENTATION DESKTOP*/

/*PRÆSENTATION-OVERSKRIFT*/
.præsentation-overskrift h1 {
  text-align: center;
  margin-top: 30px;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #164aae;
}
.feedback h2 {
  display: block;
  width: auto;
  margin: 0 auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding: 20px;
  text-align: center;
}
.præsentation-tekst {
  display: block;
  width: auto;
  margin: 0 auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  line-height: 1.5;
}

/*POWERPOINT KNAP DESKTOP*/
.pp-præsentaion-button {
  margin-top: 70px;
  margin-bottom: 30px;
}
.pp-præsentaion-button-container {
  text-align: center;
}
.pp-præsentaion-button {
  display: inline-block;
  padding: 20px 20px;
  background-color: #d7b0b0;
  color: #164aae;
  border: 2px solid #164aae;
  text-decoration: none;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.pp-præsentaion-button:hover {
  background-color: #efede6;
  color: #164aae;
}
/*MIN PROCESS 03 DESKTOP*/
.process {
  text-align: center;
  margin-top: 100px;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #164aae;
}
.process-03 {
  display: block;
  width: auto;
  margin: 0 auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding: 20px;
}
/* 04 ANIMATION DESKTOP*/
/* 04 ANIMATION - DESKTOP*/
/* 04 ANIMATION - DESKTOP*/
/* 04 ANIMATION - DESKTOP*/
/* 04 ANIMATION - DESKTOP*/

/*04-ANIMATION DESKTOP*/
.animation-overskrift h1 {
  text-align: center;
  margin-top: 30px;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #164aae;
  padding: 20px;
  font-size: 50px;
}
/*Temabeskrivelse af 04 ANIMATION DESKTOP*/
.temabeskrivelse-animation p {
  display: block;
  width: auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.5;
}
/*Mit spil DESKTOP*/
.mit-spil h2 {
  text-align: center;
  margin-top: 30px;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #164aae;
}
.spil-beskrivelse {
  display: block;
  width: auto;
  margin: 0 auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding: 20px;
  line-height: 1.5;
  margin-bottom: 100px;
}
/*SKETCHES DESKTOP*/
.scetch-overskrift h2 {
  text-align: center;
  padding-left: 20px;
  margin-top: 30px;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #164aae;
}
.scetch {
  display: block;
  width: auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scetch img {
  max-width: 400px;
  height: auto;
  margin-bottom: 100px;
}

/*SPILLETS KARAKTERE 04 DESKTOP*/
.karaktere-overskrift h2 {
  text-align: center;
  margin-top: 30px;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #164aae;
}
.karaktere-tekst {
  display: block;
  width: auto;
  margin: 0 auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding: 20px;
  margin-bottom: 30px;
}
.karaktere {
  display: flex;
  justify-content: center;
  align-items: center;
}
.karaktere img {
  max-width: 250px;
  height: auto;
}

/*SPILLETS BAGGRUNDE 04 DESKTOP */
.baggrunde-overskrift h2 {
  text-align: center;
  margin-top: 30px;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #164aae;
}
.baggrunde-tekst {
  display: block;
  width: auto;
  margin: 0 auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding: 20px;
}
.baggrunde {
  display: flex;
  justify-content: center;
  align-items: center;
}
.baggrunde img {
  max-width: 250px;
  height: auto;
}
/*STATEMACHINE-DIAGRAM 04 DESKTOP*/
.statemachine-overskrift h2 {
  text-align: center;
  margin-top: 120px;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #164aae;
}
.statemachine-tekst {
  display: block;
  width: auto;
  margin: 0 auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding: 20px;
}
.statemachine {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statemachine img {
  max-width: 500px;
  height: auto;
}
/*PROCESS-BESKRIVELSE 04 DESKTOP*/
/*PROCESS OVERSKRIFT*/
.process {
  text-align: center;
  margin-top: 30px;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #164aae;
  margin-top: 120px;
}
/*PROCESS TEKST DESKTOP*/
.process-04 {
  display: block;
  width: auto;
  margin: 0 auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding: 20px;
  line-height: 1.5;
}
/*TILBAGE TIL TOP KNAP DESKTOP*/ /*Genbrugt fra min index side opgave 05*/
.tilbage {
  margin-top: 20px;
  margin-bottom: 30px;
}
.tilbage-button-container {
  text-align: center;
}
.tilbage-button {
  display: inline-block;
  padding: 20px 20px;
  background-color: #d7b0b0;
  color: #164aae;
  border: 2px solid #164aae;
  text-decoration: none;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.tilbage-button:hover {
  background-color: #efede6;
  color: #164aae;
}
/*SORT/HVID BILLEDE M. HOVER-EFFEKT*/ /*LAVET MED CHATGPT*/
.sort-hvid-billede {
  width: 100%; /* Tilpas bredden efter dine behov */
  height: auto; /* Juster højden automatisk */
  display: block;
  filter: grayscale(100%); /* Gør billedet sort-hvidt som standard */
  transition: filter 0.3s ease; /* Tilføjer overgangseffekt */
}

.sort-hvid-billede:hover {
  filter: grayscale(0%); /* Fjerner sort-hvid filtrering ved hover */
}
/*GRUNDLÆGGENDE INDHOLD 05 DESKTOP*/
/*GRUNDLÆGGENDE INDHOLD 05 DESKTOP*/
/*GRUNDLÆGGENDE INDHOLD 05 DESKTOP*/
/*GRUNDLÆGGENDE INDHOLD 05 DESKTOP*/
/*GRUNDLÆGGENDE INDHOLD 05 DESKTOP*/

/*05-INDHOLD DESKTOP*/
.indhold-overskrift h1 {
  text-align: center;
  margin-top: 30px;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #164aae;
  padding: 20px;
}
/*Temabeskrivelse af 05 INDHOLD*/
.indhold-overskrift h1 {
  display: block;
  width: auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 50px;
}
.videosite {
  display: block;
  width: auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.temabeskrivelse-videosite {
  display: block;
  width: auto;
  margin: 0 auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding: 20px;
  line-height: 1.5;
}
/*SE VIDEOSITE KNAP*/
.video {
  margin-top: 20px;
  margin-bottom: 30px;
}
.video-button-container {
  text-align: center;
}
.video-button {
  display: inline-block;
  padding: 20px 20px;
  background-color: #efede6;
  color: #164aae;
  border: 2px solid #164aae;
  text-decoration: none;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.video-button:hover {
  background-color: #d7b0b0;
  color: #164aae;
}
/*TEMABESKRIVELSE INDHOLD DESKTOP*/
.temabeskrivelse-indhold h2 {
  display: block;
  width: auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.redesign-beskrivelse {
  display: block;
  width: auto;
  margin: 0 auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding: 20px;
  line-height: 1.5;
}
/*wireframes 05 DESKTOP*/
.wireframes05 h2 {
  display: block;
  width: auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-top: 70px;
}
.wireframes05 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*SKABER LUFT UNDER BILLEDERNE*/
.wireframes05 > * {
  margin-bottom: 10px;
}

.wireframes05 img {
  max-width: 250px;
  height: auto;
  margin-bottom: 70px;
}
/*ideudvikling 05 DESKTOP*/
.ideudvikling05 h2 {
  display: block;
  width: auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-top: 70px;
}
.ideudvikling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ideudvikling img {
  max-width: 500px;
  height: auto;
  margin-bottom: 70px;
}

/*moodboard 05 DESKTOP*/
.moodboard-overskrift05 h2 {
  display: block;
  width: auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-top: 70px;
}
.moodboard05 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.moodboard05 img {
  max-width: 500px;
  height: auto;
  margin-bottom: 50px;
}

/*SKETCHES INDHOLD DESKTOP*/
.scetch-overskrift05 h2 {
  display: block;
  width: auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-top: 70px;
}
.scetch-tekst {
  display: block;
  width: auto;
  margin: 0 auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding: 20px;
  text-align: center;
}
/*SKABER LUFT UNDER BILLEDERNE*/
.scetch-05 > * {
  margin-bottom: 10px;
}
.scetch-05 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scetch-05 img {
  max-width: 500px;
  height: auto;
  margin-bottom: 70px;
}

/*STILETYLE  05 DESKTOP*/
.styletile-overskrift05 h2 {
  text-align: center;
  margin-top: 30px;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #164aae;
}

.styletile05 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.styletile05 img {
  max-width: 500px;
  height: auto;
  margin-bottom: 50px;
}

/* TESTS 05 DESKTOP */
.tests-overskrift05 h2 {
  text-align: center;
  margin-top: 30px;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #164aae;
  margin-top: 70px;
}
.test-tekst {
  display: block;
  width: auto;
  margin: 0 auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding: 20px;
  text-align: start;
}
.test-05 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.test-05 img {
  max-width: 500px;
  height: auto;
  margin-bottom: 50px;
}
/* LAYOUTDIAGRAM 05 DESKTOP */
.layoutdiagram-overskrift05 h2 {
  text-align: center;
  margin-top: 30px;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #164aae;
  margin-top: 70px;
}
.layoutdiagram-tekst05 {
  display: block;
  width: auto;
  margin: 0 auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
  padding: 20px;
  text-align: center;
}
.layoutdiagram05 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.layoutdiagram05 img {
  max-width: 400px;
  height: auto;
}

/*PROCESS-BESKRIVELSE 05 DESKTOP*/
/*PROCESS OVERSKRIFT*/
.process h2 {
  text-align: center;
  margin-top: 30px;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #164aae;
  margin-top: 70px;
}
/*PROCESS TEKST DESKTOP*/
.process-05 {
  display: block;
  width: auto;
  margin: 0 auto;
  color: #164aae;
  font-style: normal;
  font-weight: 200;
}
/*TILBAGE TIL TOP KNAP*/ /*Genbrugt fra min index side opgave 05*/
.tilbage {
  margin-top: 20px;
  margin-bottom: 30px;
}
.tilbage-button-container {
  text-align: center;
  margin-top: 80px;
}
.tilbage-button {
  display: inline-block;
  padding: 20px 20px;
  background-color: #d7b0b0;
  color: #164aae;
  border: 2px solid #164aae;
  text-decoration: none;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.tilbage-button:hover {
  background-color: #efede6;
  color: #164aae;
}
/*SORT/HVID BILLEDE M. HOVER-EFFEKT*/ /*LAVET MED CHATGPT*/
.sort-hvid-billede {
  width: 100%; /* Tilpas bredden efter dine behov */
  height: auto; /* Juster højden automatisk */
  display: block;
  filter: grayscale(100%); /* Gør billedet sort-hvidt som standard */
  transition: filter 0.3s ease; /* Tilføjer overgangseffekt */
}

.sort-hvid-billede:hover {
  filter: grayscale(0%); /* Fjerner sort-hvid filtrering ved hover */
}

/*FOOTER*/
footer {
  border-top: 1px solid #164aae;
  color: #164aae;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(300px); /* Slørre-effekt så man ikke kan se p-tagget gennem footeren*/
}
.footerp {
  margin: 15px 0;
  line-height: 2;
  text-align: center;
}

/* MOBILESITE */ /* MOBILESITE */ /* MOBILESITE */ /* MOBILESITE */
/* MOBILESITE */ /* MOBILESITE */ /* MOBILESITE */ /* MOBILESITE */
/* MOBILESITE */ /* MOBILESITE */ /* MOBILESITE */ /* MOBILESITE */
/* MOBILESITE */ /* MOBILESITE */ /* MOBILESITE */ /* MOBILESITE */
/* MOBILESITE */ /* MOBILESITE */ /* MOBILESITE */ /* MOBILESITE */
/* MOBILESITE */ /* MOBILESITE */ /* MOBILESITE */ /* MOBILESITE */
/* MOBILESITE */ /* MOBILESITE */ /* MOBILESITE */ /* MOBILESITE */
/* MOBILESITE */ /* MOBILESITE */ /* MOBILESITE */ /* MOBILESITE */
/* MOBILESITE */ /* MOBILESITE */ /* MOBILESITE */ /* MOBILESITE */

/* MOBILESITE */
@media screen and (max-width: 600px) {
  /*BURGERMENU*/
  .menu {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 60px;
    right: 20px; /* Placerer menuen til højre */
    background-color: #efede6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
    text-align: right;
  }

  .mitnavn {
    font-size: 25px;
  }

  /*KNAP TIL ALLE SITES 02-05*/
  .linktilside-button {
    margin-top: 70px;
    margin-bottom: 30px;
  }
  .link-button-container {
    text-align: center;
    margin: 50px;
  }
  .link-button {
    display: inline-block;
    padding: 20px 20px;
    background-color: #efede6;
    color: #164aae;
    border: 2px solid #164aae;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .link-button:hover {
    background-color: #d7b0b0;
    color: #164aae;
  }
  /*INDEX-SIDE MOBILESITE*/
  .containerindex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .indexbillede {
    width: 100%;
    margin-top: 170px;
    padding: 10px;
  }

  /*PORTFOLIO-SIDE MOBILESITE*/
  .portfoliomenu ul {
    list-style: none;
    font-family: "poppins", sans-serif; /*POPPINS THIN*/
    font-size: 50px;
    line-height: 2;
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 50px;
    margin-top: 100px;
  }
  /*HOVER_EFFEKT*/
  .portfoliomenu ul a:hover {
    color: #f0a1a1;
  }
  a {
    color: #164aae;
    text-decoration: none;
  }
  a .underline {
    position: absolute;
    bottom: -3px; /*dette styre stregens længde*/
    left: 0;
    width: 100%;
    height: 1px;
  }
  /*OM MIG-SIDE MOBILESITE*/
  .overskrift h1 {
    text-align: start;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
    padding-left: 20px;
  }
  .hejmedstort {
    margin-top: 10px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
    line-height: 1.5;
    padding-left: 23px;
  }

  /*Portræt MOBILESITE*/
  .billede-container {
    width: 100%;
    display: flex;
    padding: 0; /* Jeg har lavet en container i div'en for ikke at ændre str. af det indre rum (så det ikke ser mindre ud)*/
    justify-content: center;
    align-items: center;
  }
  .portræt {
    max-width: 250px;
    margin-top: 20px; /*Så billedet er tættere på h1*/
    margin-bottom: 20px;
  }
  /* TEKST OM MIG MOBILESITE*/
  .ommigtekst {
    text-align: justify;
    line-height: 2;
  }
  .ommigtekst p {
    display: block;
    width: 400px;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
  }
  /*CV MOBILESITE*/
  /*Firkantede boks bag ved CV*/
  .firkant {
    background-color: #d7b0b0;
    color: #164aae;
    padding: 20px;
    text-align: start;
    margin: 0 auto;
    max-width: 800px;
    width: 80%;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  /*Mit CV tekst*/
  .overskriftcv-skills,
  h1 {
    text-align: start;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-size: 40px;
    font-style: normal;
    color: #164aae;
  }
  /*UNDEROVERSKRIFT*/
  .relevante h2 {
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #164aae;
    text-align: start;
    line-height: 1.5;
  }
  /*Overskrift, starter ved Relevante joberfaringer etc*/
  .cv h2 {
    margin-top: 10px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  /*P-tekst*/
  .cv {
    margin-top: 10px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
    line-height: 1.5;
  }
  .cv p {
    margin: 0; /* Nulstil margen, hvis det er nødvendigt */
    padding-left: 20px; /* nulstiller p's padding for at justere det separat */
  }
  .arbejde-overskrift {
    margin-top: 10px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }

  /*02-GRUNDLÆGGENDE WEB MOBILESITE*/
  .weboverskrift h1 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  /*Temabeskrivelse af 02 web*/
  .temabeskrivelse {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
  }
  /*VISITKORT MOBILESITE*/
  .visitkort-overskrift h2 {
    text-align: center;
    padding-left: 20px;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .visitkort {
    display: block;
    width: auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .visitkort img {
    max-width: 250px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /*STUDIESTARTSPRØVE MOBILESITE*/
  .studiestartsprøve-overskrift h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .studiestartsprøve {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .studiestartsprøve img {
    max-width: 250px;
    height: auto;
  }

  /*LAYOUTDIAGRAM MOBILESITE*/
  .layoutdiagram h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .layoutdiagram img {
    max-width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*KODE MOBILESITE*/
  .kode h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .kode p {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
  }
  .kode img {
    max-width: 250px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
  }
  /*PROCESS-BESKRIVELSE 02 MOBILESITE*/
  /*PROCESS OVERSKRIFT*/
  .process {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  /*PROCESS TEKST MOBILESITE*/
  .process-02 {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
  }
  /*TILBAGE TIL TOP KNAP*/ /*Genbrugt fra min index side opgave 05*/
  .tilbage {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .tilbage-button-container {
    text-align: center;
  }
  .tilbage-button {
    display: inline-block;
    padding: 20px 20px;
    background-color: #d7b0b0;
    color: #164aae;
    border: 2px solid #164aae;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .tilbage-button:hover {
    background-color: #efede6;
    color: #164aae;
  }
  /*SORT/HVID BILLEDE M. HOVER-EFFEKT*/ /*LAVET MED CHATGPT*/
  .sort-hvid-billede {
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100%);
    transition: filter 0.3s ease; /* Tilføjer overgangseffekt*/
  }

  .sort-hvid-billede:hover {
    filter: grayscale(0%); /* Fjerner sort-hvid filtrering ved hover */
  }

  /*03 UX/UI-DESIGN MOBILESITE*/
  /*03 UX/UI-DESIGN MOBILESITE*/
  /*03 UX/UI-DESIGN MOBILESITE*/
  /*03 UX/UI-DESIGN MOBILESITE*/
  .uxui-overskrift h1 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  /*Temabeskrivelse af 03 UX/UI*/
  .temabeskrivelse-ux-ui {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
  }
  /*pdf-knap*/
  .process-button {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .process-button-container {
    text-align: center;
  }
  .process-button {
    display: inline-block;
    padding: 20px 20px;
    background-color: #efede6;
    color: #164aae;
    border: 2px solid #164aae;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .process-button:hover {
    background-color: #d7b0b0;
    color: #164aae;
  }

  /* 03 WIREFRAMES*/

  /*WIREFRAMES OVERSKRIFT MOBILESITE*/
  .wireframes-overskrift h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .wireframes img {
    max-width: 250px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
  }
  /*HI-FI-WIREFRAME 03 MOBILESITE*/
  .hifi-overskrift h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .hifi img {
    max-width: 250px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
  }
  /*KLIKBAR PROTOTYPE MOBILSITE*/
  .klikbar-overskrift h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .klikbar-tekst {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
    text-align: center;
  }
  .klikbar img {
    max-width: 250px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
  }

  /* 03 MOODBOARD MOBILESITE*/

  /*MOODBOARD-OVERSKRIFT*/
  .moodboard-overskrift h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .moodboard-tekst {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
    text-align: center;
  }
  .moodboard img {
    max-width: 250px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
  }

  /* 03 STYLETILE MOBILESITE*/

  /*STYLETILE OVERSKRIFT*/
  .styletile-overskrift h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .style-tekst {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
    text-align: center;
  }
  .styletile img {
    max-width: 250px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
  }

  /*TEST 03*/
  .tests-overskrift h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .test-tekst {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
    text-align: center;
  }
  .test1 img {
    max-width: 250px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
  }

  /*03 LAYOUTDIAGRAM MOBILESITE*/

  /*LAYOUTDIAGRAM-OVERSKRIFT*/
  .layoutdiagram-overskrift h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .layoutdiagram-tekst {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
  }
  .layoutdiagram img {
    max-width: 250px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
  }

  /*03 KODE MOBILESITE*/

  /*KODE-OVERSKRIFT*/
  .præsentation-overskrift h1 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .feedback h2 {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
  }
  .præsentation-tekst {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
  }

  /*POWERPOINT KNAP*/
  .pp-præsentaion-button {
    margin-top: 70px;
    margin-bottom: 30px;
  }
  .pp-præsentaion-button-container {
    text-align: center;
  }
  .pp-præsentaion-button {
    display: inline-block;
    padding: 20px 20px;
    background-color: #d7b0b0;
    color: #164aae;
    border: 2px solid #164aae;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .pp-præsentaion-button:hover {
    background-color: #efede6;
    color: #164aae;
  }
  /*MIN PROCESS 03 MOBILESITE*/
  .process h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .process-03 {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
  }

  /* 04 ANIMATION - MOBILESITE*/
  /* 04 ANIMATION - MOBILESITE*/
  /* 04 ANIMATION - MOBILESITE*/
  /* 04 ANIMATION - MOBILESITE*/

  /*04-ANIMATION MOBILESITE*/
  .animation-overskrift h1 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
    padding: 20px;
  }
  /*Temabeskrivelse af 04 ANIMATION*/
  .temabeskrivelse-animation p {
    display: block;
    width: auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
  }
  /*Mit spil*/
  .mit-spil h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .spil-beskrivelse {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
  }
  /*SKETCHES MOBILESITE*/
  .scetch-overskrift h2 {
    text-align: center;
    padding-left: 20px;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .scetch {
    display: block;
    width: auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .scetch img {
    max-width: 250px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /*SPILLETS KARAKTERE 04 MOBILESITE*/
  .karaktere-overskrift h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .karaktere-tekst {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
  }
  .karaktere {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .karaktere img {
    max-width: 250px;
    height: auto;
  }

  /*SPILLETS BAGGRUNDE 04 MOBILESITE */
  .baggrunde-overskrift h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .baggrunde-tekst {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
  }
  .baggrunde {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .baggrunde img {
    max-width: 250px;
    height: auto;
  }
  /*STATEMACHINE-DIAGRAM 04 MOBILESITE*/
  .statemachine-overskrift h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .statemachine-tekst {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
  }
  .statemachine {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .statemachine img {
    max-width: 250px;
    height: auto;
  }
  /*PROCESS-BESKRIVELSE 04 MOBILESITE*/
  /*PROCESS OVERSKRIFT*/
  .process {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  /*PROCESS TEKST MOBILESITE*/
  .process-04 {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
  }
  /*TILBAGE TIL TOP KNAP*/ /*Genbrugt fra min index side opgave 05*/
  .tilbage {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .tilbage-button-container {
    text-align: center;
  }
  .tilbage-button {
    display: inline-block;
    padding: 20px 20px;
    background-color: #d7b0b0;
    color: #164aae;
    border: 2px solid #164aae;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .tilbage-button:hover {
    background-color: #efede6;
    color: #164aae;
  }
  /*SORT/HVID BILLEDE M. HOVER-EFFEKT*/ /*LAVET MED CHATGPT*/
  .sort-hvid-billede {
    width: 100%; /* Tilpas bredden efter dine behov */
    height: auto; /* Juster højden automatisk */
    display: block;
    filter: grayscale(100%); /* Gør billedet sort-hvidt som standard */
    transition: filter 0.3s ease; /* Tilføjer overgangseffekt */
  }

  .sort-hvid-billede:hover {
    filter: grayscale(0%); /* Fjerner sort-hvid filtrering ved hover */
  }

  /* 05 INDHOLD - MOBILESITE*/
  /* 05 INDHOLD - MOBILESITE*/
  /* 05 INDHOLD - MOBILESITE*/
  /* 05 INDHOLD - MOBILESITE*/

  /*05-INDHOLD MOBILESITE*/
  .indhold-overskrift h1 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
    padding: 20px;
  }
  /*Temabeskrivelse af 05 INDHOLD*/
  .indhold-overskrift h1 {
    display: block;
    width: auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 50px;
  }
  .videosite {
    display: block;
    width: auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .temabeskrivelse-videosite {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
  }
  /*SE VIDEOSITE KNAP*/
  .video {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .video-button-container {
    text-align: center;
  }
  .video-button {
    display: inline-block;
    padding: 20px 20px;
    background-color: #efede6;
    color: #164aae;
    border: 2px solid #164aae;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .video-button:hover {
    background-color: #d7b0b0;
    color: #164aae;
  }
  /*TEMABESKRIVELSE INDHOLD MOBILESITE*/
  .temabeskrivelse-indhold h2 {
    display: block;
    width: auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .redesign-beskrivelse {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
  }
  /*wireframes 05 mobilesite*/
  .wireframes05 h2 {
    display: block;
    width: auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .wireframes05 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /*SKABER LUFT UNDER BILLEDERNE*/
  .wireframes05 > * {
    margin-bottom: 10px;
  }

  .wireframes05 img {
    max-width: 250px;
    height: auto;
    margin-bottom: 70px;
  }
  /*ideudvikling 05 mobilesite*/
  .ideudvikling05 h2 {
    display: block;
    width: auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .ideudvikling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ideudvikling img {
    max-width: 250px;
    height: auto;
    margin-bottom: 70px;
  }

  /*moodboard 05 mobilesite*/
  .moodboard-overskrift05 h2 {
    display: block;
    width: auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .moodboard05 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .moodboard05 img {
    max-width: 250px;
    height: auto;
    margin-bottom: 50px;
  }

  /*SKETCHES INDHOLD MOBILESITE*/
  .scetch-overskrift05 h2 {
    display: block;
    width: auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-top: 70px;
  }
  .scetch-tekst {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
    text-align: center;
  }
  /*SKABER LUFT UNDER BILLEDERNE*/
  .scetch-05 > * {
    margin-bottom: 10px;
  }
  .scetch-05 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .scetch-05 img {
    max-width: 250px;
    height: auto;
    margin-bottom: 70px;
  }

  /*STILETYLE  05 MOBILESITE*/
  .styletile-overskrift05 h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }

  .styletile05 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .styletile05 img {
    max-width: 250px;
    height: auto;
    margin-bottom: 50px;
  }

  /* TESTS 05 MOBILESITE */
  .tests-overskrift05 h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  .test-tekst {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
    text-align: start;
  }
  .test-05 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .test-05 img {
    max-width: 250px;
    height: auto;
  }
  /* LAYOUTDIAGRAM 05 MOBILESITE */
  .layoutdiagram-overskrift05 h2 {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
    margin-top: 70px;
  }
  .layoutdiagram-tekst05 {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
  }
  .layoutdiagram05 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .layoutdiagram05 img {
    max-width: 250px;
    height: auto;
  }

  /*PROCESS-BESKRIVELSE 05 MOBILESITE*/
  /*PROCESS OVERSKRIFT*/
  .process {
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #164aae;
  }
  /*PROCESS TEKST MOBILESITE*/
  .process-05 {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #164aae;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
    text-align: start;
  }
  /*TILBAGE TIL TOP KNAP*/ /*Genbrugt fra min index side opgave 05*/
  .tilbage {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .tilbage-button-container {
    text-align: center;
  }
  .tilbage-button {
    display: inline-block;
    padding: 20px 20px;
    background-color: #d7b0b0;
    color: #164aae;
    border: 2px solid #164aae;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .tilbage-button:hover {
    background-color: #efede6;
    color: #164aae;
  }
  /*SORT/HVID BILLEDE M. HOVER-EFFEKT*/ /*LAVET MED CHATGPT*/
  .sort-hvid-billede {
    width: 100%; /* Tilpas bredden efter dine behov */
    height: auto; /* Juster højden automatisk */
    display: block;
    filter: grayscale(100%); /* Gør billedet sort-hvidt som standard */
    transition: filter 0.3s ease; /* Tilføjer overgangseffekt */
  }

  .sort-hvid-billede:hover {
    filter: grayscale(0%); /* Fjerner sort-hvid filtrering ved hover */
  }
}
