* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(236, 223, 208);
}

.container {
  text-align: center;
}

.header {
  background-color: #fff;
  color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 100px;
}
.burger-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}
.menu-item {
  padding: 10px;
  cursor: pointer;
}

header nav ul,
header nav {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0;
  overflow-x: auto;
  align-items: self-start;
  font-size: 10px;
}
header nav ul {
  gap: 1rem;
}

.baggrundsbillede-forside {
  background-image: url("mobilforside.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 439px;
}

.forside {
  text-decoration: none;
  background-color: rgb(236, 223, 208);
  margin-left: 0;
  padding: 0%;
}
.Formgivning {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.tekstcontainer {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
}
.tekstcontainer {
  width: 50%;
  margin: auto;
}

p {
  padding-bottom: 5rem;
  padding-top: 5rem;
  padding: 50px;
  display: flex;
  margin-bottom: 20px;
  margin-top: 30px;
  line-height: 1.5;
}

.drejeplade {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
}

footer img {
  width: 40px;
  height: auto;
}

/* Stel */

.baggrundsbillede-forside2 {
  background-image: url("blandetstelbaggrund.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 439px;
}
.Stel {
  text-align: center;
  margin: 0;
  padding: 20px;
}
