/*
<link rel="stylesheet" href="https://use.typekit.net/lnq1mwc.css">

//////POPPINS//////

Poppins Thin
font-family: "poppins", sans-serif;
font-weight: 100;
font-style: normal;

Poppins ExtraLight
font-family: "poppins", sans-serif;
font-weight: 200;
font-style: normal;

/////JEANNE MODERNO//////

Jeanne Moderno OT UltraItalic
font-family: "jeanne-moderno-ultra", serif;
font-weight: 800;
font-style: italic;

